@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  background-color: #ffffff;
}

img {
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1465px;
  margin: auto;
}

.anchor, header .logo a, header nav ul li a, .bannerSection .wrapper .bannerLeft a, .collection .container .nxt a, footer .container .footer ul li a {
  text-decoration: none;
  display: inline-block;
  color: #3a3a3a;
}

header {
  padding: 30px 10px;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .logo {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

header .logo a {
  font-size: 20px;
}

header nav {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header nav ul li {
  margin: 0 10px;
}

.bannerSection {
  padding: 20px 0;
}

.bannerSection .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bannerSection .wrapper .bannerLeft {
  -ms-flex-preferred-size: 37%;
      flex-basis: 37%;
}

.bannerSection .wrapper .bannerLeft h1 {
  color: #3a3a3a;
  font-size: 40px;
}

.bannerSection .wrapper .bannerLeft p {
  font-weight: 500;
  font-size: 15px;
  margin: 10px 0;
}

.bannerSection .wrapper .bannerLeft a {
  background: #e02c6d;
  color: #fff;
  padding: 10px 25px;
  border-radius: 50px;
  margin-top: 20px;
  -webkit-transition: .5s;
  transition: .5s;
  border: 1px solid #e02c6d;
}

.bannerSection .wrapper .bannerLeft a:hover {
  background-color: #fff;
  color: #e02c6d;
  border: 1px solid #e02c6d;
}

.bannerSection .wrapper .bannerRight {
  -ms-flex-preferred-size: 62%;
      flex-basis: 62%;
  background: url(./influencer-gear-main/images/Circledesign.png);
  background-position: right;
  text-align: right;
  background-repeat: no-repeat;
  background-size: 50%;
  padding: 33px 0;
}

.logoSection .container {
  max-width: 1300px;
  margin: auto;
}

.logoSection .logo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  position: relative;
  padding: 30px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logoSection .logo ul::before {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  border-top: 1px solid gray;
  border-radius: 50%;
}

.logoSection .logo ul::after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid gray;
  border-radius: 50%;
}

.logoSection .logo ul li {
  margin: 0 35px;
}

.collection {
  padding: 30px 0;
}

.collection .container {
  max-width: 1160px;
  margin: auto;
}

.collection .container .nxt {
  text-align: right;
}

.collection .container .nxt a {
  color: #e02c6d;
  font-weight: 700;
}

.collection .container .nxt a i {
  margin-left: 5px;
}

.collection .title {
  margin-top: 60px;
  margin-bottom: 50px;
}

.collection .title h1 {
  font-size: 30px;
  color: #3a3a3a;
  text-align: center;
}

.collection .collWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.collection .collWrapper .colBox {
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  padding: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px 15px #dddddd87;
          box-shadow: 0px 0px 20px 15px #dddddd87;
  margin-bottom: 40px;
  border-radius: 5px;
}

.collection .collWrapper .colBox figure {
  margin: 0;
}

.collection .collWrapper .colBox figure img {
  display: block;
  width: 100%;
}

.collection .collWrapper .colBox .figureCaption {
  margin-top: 20px;
}

.collection .collWrapper .colBox .figureCaption h4 {
  font-size: 25px;
  color: #3a3a3a;
  text-align: left;
  font-weight: 600;
}

.collection .collWrapper .colBox .figureCaption h5 {
  font-size: 20px;
  color: #3a3a3a;
  text-align: left;
  font-weight: 400;
  margin: 10px 0;
}

.collection .collWrapper .colBox .figureCaption p {
  font-size: 14px;
  color: #7d7d89;
  text-align: left;
  font-weight: 600;
}

.collection .collWrapper .colBox .figureCaption ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.collection .collWrapper .colBox .figureCaption ul li {
  margin-bottom: 5px;
}

.collection .collWrapper .colBox .figureCaption ul li span {
  color: #fb8c15;
  font-size: 10px;
}

.collection .collWrapper .colBox .figureCaption ul li:last-child > span {
  color: #3a3a3a;
  padding-left: 10px;
  font-size: 14px;
  font-weight: 500;
}

.featureSection {
  padding: 50px 0;
}

.featureSection .container .imgWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.featureSection .container .imgWrapper .feaimg {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.featureSection .container .imgWrapper .feaimg img {
  width: 100%;
  min-height: 400px;
}

.featureSection .container .feaBottom {
  text-align: center;
  max-width: 700px;
  margin: auto;
  padding: 50px 0;
}

.featureSection .container .feaBottom h1 {
  font-size: 40px;
  color: #e02c6d;
  text-align: center;
  text-transform: uppercase;
}

.featureSection .container .feaBottom p {
  margin: 20px 0;
}

.featureSection .container .feaBottom form input[type="email"] {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 10px 10px;
  width: 40%;
  border-radius: 5px;
  border: 1px solid #e02c6d;
  color: #e02c6d;
}

.featureSection .container .feaBottom form input[type="email"]::-webkit-input-placeholder {
  color: #e02c6d;
}

.featureSection .container .feaBottom form input[type="email"]:-ms-input-placeholder {
  color: #e02c6d;
}

.featureSection .container .feaBottom form input[type="email"]::-ms-input-placeholder {
  color: #e02c6d;
}

.featureSection .container .feaBottom form input[type="email"]::placeholder {
  color: #e02c6d;
}

.featureSection .container .feaBottom form button[type="submit"] {
  border: none;
  outline: none;
  display: inline-block;
  background-color: #e02c6d;
  border: 1px solid #e02c6d;
  padding: 10px 30px;
  color: #fff;
  border-radius: 5px;
  font-weight: 500;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
  margin-left: 10px;
}

.featureSection .container .feaBottom form button[type="submit"]:hover {
  background-color: #fff;
  color: #e02c6d;
  border: 1px solid #e02c6d;
}

footer {
  background: #0a0826;
  padding: 50px 0;
}

footer .container .footer {
  text-align: center;
  color: #fff;
}

footer .container .footer p {
  margin: 10px 0;
}

footer .container .footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .container .footer ul li {
  margin: 0 5px;
}

footer .container .footer ul li a {
  background-color: #22203b;
  color: #fff;
  border-radius: 50%;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 1px;
}

@media all and (max-width: 1500px) {
  .container {
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
  }
}

@media all and (max-width: 1127px) {
  .logoSection .logo ul li {
    margin: 10px 15px;
  }
}

@media all and (max-width: 768px) {
  .bannerSection .wrapper .bannerLeft {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .bannerSection .wrapper .bannerRight {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    background-position: center;
    text-align: center;
  }
}

@media all and (max-width: 630px) {
  header .logo {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
  header nav {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  header nav ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .colBox {
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
  }
  .featureSection .container .imgWrapper .feaimg {
    -ms-flex-preferred-size: 30%;
    flex-basis: 100%;
  }
}

@media all and (max-width: 450px) {
  .bannerSection .wrapper .bannerLeft {
    text-align: center;
  }
  .bannerSection .wrapper .bannerLeft h1 {
    font-size: 34px;
  }
  .featureSection .container .feaBottom form input[type="email"] {
    width: 100%;
  }
  .featureSection .container .feaBottom form button[type="submit"] {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */